#container{
	width: 100%;
	min-height: 500px;
	background-color: ghostwhite;
	padding: 10px;		
}
h1{
	text-align: center;
}
button{width: 200px; height: 200px; font-size: 20px;}
#stone{
      float:left;
      }
#shear{
	  float:left;
	  }
